@font-face
  font-family MIAO
  src url('./GenJyuuGothicX-Medium.ttf')

body
  cursor url('~@/assets/static/cur_normal.cur'), default
  background #000
  margin 0
  user-select none
  font-family MIAO

img
  -webkit-user-drag none

::-webkit-scrollbar
  width 7px
  height 7px

::-webkit-scrollbar-track
  box-shadow inset 0 0 6px rgba(0, 0, 0, 0.3)
  -webkit-box-shadow inset 0 0 6px rgba(0, 0, 0, 0.3)
  background-color #F5F0F2

::-webkit-scrollbar-thumb
  box-shadow inset 0 0 6px rgba(0, 0, 0, 0.1)
  -webkit-box-shadow inset 0 0 6px rgba(0, 0, 0, 0.1)
  background-color #F5C1BB

::-webkit-scrollbar-thumb:active
  background-color #FADBD8

.fade-enter-active, .fade-leave-active
  transition opacity 0.3s

.fade-enter-from, .fade-leave-to
  opacity 0

.fade-enter-to, .fade-leave-from
  opacity 1

.slide-up-enter-active, .slide-up-leave-active
  transition all 0.5s

.slide-up-enter-from, .slide-up-leave-to
  transform translateY(100%)

.slide-up-enter-to, .slide-up-leave-from
  transform translateY(0)

@keyframes twinkle
  from
    opacity 1
  to
    opacity 0